
#tabela-fornecedor{
    margin-top: 25px;
    padding: 0;
    height: calc(100% - 95px);
    max-height: calc(100% - 95px);
    min-height: calc(100% - 95px); 
    overflow-x: auto;
}


@media screen and (max-width: 770px) {
    #filtrarFornecedor{
        width: 100%;
    }

    #cadastrarFornecedor{
        margin-top: 10px;
        width: 100%;
    }
}
