@import url("fornecedor.css");
@import url("produto.css");

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
html, body {
    margin: 0px;
    padding: 0px;
    height: calc(100% - 0px);
    width: 100%;
    max-height: calc(100% - 0px);
    min-height: calc(500px);
    max-width: 100%;
    overflow-x: hidden;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}



#pagina{
    height: 100%;
    min-height: calc(500px);
    margin: 0px;
    padding: 0px;
    position: absolute;
}

#nav-meio{
    border-top: 3px solid #518d8a;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    padding-right: 15px;
}

#app-meio{
    height: 100%;
    width: calc(100% - 250px);
    float: left;
    margin: 0px;
    padding: 0px;
}

#app-meio-row{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#menu-lateral{
    width: 250px;
    height:auto;
    min-height:100%;
    background-color: #2e353d;
    float: left;
    margin: 0px;
    padding: 0px;
}

#menu-lateral ul{
    width: 100%;    
    margin: 0px;
    padding: 0px;

}

#menu-lateral ul li{
    border-bottom: 1px solid #181c20;
}

.info-usuario{
    padding-top: 10px;
    padding-right: 10px;
}

#dados-usuario{
    padding-top: 4px;
    padding-right: 4px;
}

#menu-lateral ul li a{
    color: #ffffff;
}

#menu-lateral ul li.active a{
    color: #ffffff;
    border-left: 3px solid #d19b3d;
    background: #4f5b69;
    color: #ffffff;
}

#headerLateral h1 {
    font-family:  Arial;
    text-transform: uppercase;
    font-size: 14pt;
}

#headerLateral {
    color: #ffffff;
    line-height: 60px;
    display: block;
    text-align: center;
    background: #518d8a;
    width: 100%;    
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #181c20;
}

#menu-lateral ul li a {
    border-left: 3px solid #2e353d;
}

#menu-lateral ul li a:hover{
    color: #ffffff;
    border-left: 3px solid #d19b3d;
    background: #4f5b69;
    color: #ffffff;
}

#conteudo{
    width: 100%;
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    padding: 0px;
    margin: 0px;
}

.header-panel{
    text-transform: uppercase;
    font-size: 10pt;
}

.tabela-header{
    background: #cccccc;
}

.botaoComIcone{
    padding-right: 5px;
}

.campoImput:valid {background:#006600;color:#fff }
.campoImput:invalid {background:#ff3333;color:#fff }

.loadin-style-custom{
    width: 250px; 
    height: 50px;
    position: fixed;
    left: calc(50% - 25px); 
    top: calc(50% - 25px);
}

/*@media only screen and (max-device-width: 480px) {
    html, body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        max-width: 100%;
    }
}*/


@media screen and (max-width: 1300px) {
    #btn-menu-lateral{
        display:block;
    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right #menu-lateral {
        right: -250px;
    }

    .row-offcanvas-left #menu-lateral {
        left: -250px;
    }

    .row-offcanvas-right.active {
        right: calc(250px);
    }

    .row-offcanvas-left.active {
        left: calc(250px);
    }

    #menu-lateral {
        position: absolute;
        width: 250px;
    }

    #app-meio{
        width: 100%;
        padding: 0;
    }

    #nav-meio{
        padding-left: 5px;
    }

    html, body {
        margin: 0px;
        padding: 0px;
    }
}