#tabela-produto{
    margin-top: 25px;
    height: calc(100% - 30px);
    overflow-x: hidden;   
    padding-bottom: 0px;
}

.dialog-produto{
    overflow: auto;
}

.font-titulo-produto{
    font-weight: bold;
    color: #4c595e;
    font-size: 14px;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;  
}

.font-produto{
    font-weight: normal;
    color: #4c595e;
    font-size: 14px;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;  
}

.product-item:hover{
    opacity: 0.3;
}

.descricao-produto-lista{
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    padding-right: 10px;

}

.painel-fundo-produto{
    background: #f4f5f5; 
    padding-top: 5px; 
    padding-left: 5px; 
    padding-bottom: 1px;
    margin: 0;
    border: solid #999999 1px;
}

.painel-fundo-produto-observacao p{
    padding: 0;
    margin: 0;
}

.painel-fundo-produto-observacao{
    padding-top: 10px; 
    padding-left: 10px; 
    padding-bottom: 1px;
    margin: 0;
}

.painel-fundo-produto-observacao-valor{
    margin: 0;
    max-height: 70px;
    min-height: 70px;
    overflow-y: auto;
}

.produto-observacao-titulo{
    color: #007799;
    font-weight: bold;
    font-size: 16px;
}

.produto-observacao{
    color: #4c595e;
}

.produto-lista{
    margin: 0; 
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.produto-lista-conteudo{
    margin: 0; 
    padding: 0px;
    padding-left: 10px;
    min-height: 310px;
    max-height: 310px;
}

.imagem-produto-lista{
    width: 150px; 
    height: 150px;
}

.valor-produto-lista{
    color: #6eaf48;
    font-weight: bold;
    font-size: 24px;
}

.quantidade-estoque-produto-lista-label {
    color: #4c595e;
}

.quantidade-estoque-produto-lista {
    color: #007799;
    font-weight: bold;
}

.input-crud-produto{
    padding-right: 15px; 
    padding-top: 10px; 
    padding-left: 10px; 
    width: calc(100%);
}

#tabela-produto ul{
    padding: 0; 
    height: calc(100% - 50px); 
    max-height: calc(100% - 50px); 
    min-height: calc(100% - 50px); 
    overflow-x: auto;
}

.product-item{
    width: 250px;
    margin: 0 13px 20px;
    padding-right: 10px;
    display: inline-block;
    border: solid #999999 1px;
    overflow: hidden;
    border-radius: 4px;
}
.imagem-produto-lista-div{
    margin: auto;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;

}
@media screen and (max-width: 600px) {
    .product-item{
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 767px) {

    .input-crud-produto{
        padding-right: 15px; 
        padding-top: 10px; 
        padding-left: 10px; 
        width: calc(100% - 25px);
    }

    #cadastrarProduto{
        margin-top: 10px;
        /*width: 100%;*/
    }

    #produto-lista{
        width: 100%;
        padding: 0px;
        margin: 0; 
    }

    .produto-lista-conteudo{
        padding: 0px;
        margin: 0; 
        padding-left: 10px;
    }

    .painel-fundo-produto-observacao{
        padding-left: 0px; 
    }

    #tabela-produto{
        height: calc(100% - 90px);
    }
}

