<!doctype html>
<html ng-app="www.geve.com.br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Autenticação</title>

        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <link rel="stylesheet" href="css/main.css" >
        <style>
            html, body {
                background: #2e353d;
            }

            #painel-login{
                width: 300px;
                height: 300px;
                position: absolute;
                top: calc(50% - 150px);
                left: calc(50% - 150px);

            }

        </style>
    </head>

    <body>
        <div id="login-page" class="container-fluid" >
            <div id="painel-login" class="panel panel-default">
                <div class="panel-body" style="" ng-controller="loginControler">
                    <form>

                        <div class="row" style="padding-left: 10px; padding-right: 10px; padding-top: 80px">
                            <ul class="nav nav-pills nav-stacked">
                                <li><input type="text" class="form-control" required="required" placeholder="Usuário" ng-s ng-model="usuario.usuario"></li>
                                <li><input type="text" class="form-control" required="required" placeholder="Senha" ng-model="usuario.senha"></li>
                                <li><button type="button" class="btn btn-primary" style="width: 100%" ng-click="logar()">Entrar</button></li>
                            </ul>
                        </div>

                        <div id="msgUsuario" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px"></div>

                        <!--                    <div class="row" style="padding-left: 10px; padding-right: 10px;padding-top: 50px">
                                                <ul class="nav nav-pills nav-stacked">
                                                    <li><button type="submit" class="btn btn-success" style="width: 100%">Cadastrar</button></li>
                                                </ul>
                                            </div>-->
                    </form>
                </div>
            </div>
        </div>
        <script language="JavaScript" type="text/javascript" src="js/main.js"></script>
    </body>
</html>