<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="panel panel-default" ng-show="modoManter" cg-busy="{promise:send, templateUrl:'send.html'}">
            <div class="panel-heading" style="padding: 0px; margin: 0px; ">
                <nav class="navbar navbar-default" style="padding: 0px; margin: 0px; border: none">
                    <div class="container-fluid " style="padding: 0px; margin: 0px; border: none">
                        <div class="navbar-header col-sm-8 col-md-6 col-lg-8"  style="padding: 0px; margin: 0px;">
                            <ul class="nav navbar-nav menu-ul menu-top-pagina" style="padding: 0px; margin: 0px; padding-top: 8px; padding-left: 8px">
                                <li><button class=" btn btn-primary cor-font-global" ng-click="setModoView()"> <span class="fa fa-chevron-left botaoComIcone"></span><span>Voltar</span></button></li>
                            </ul>
                            <ol class="nav navbar-nav menu-ul menu-top-pagina btn-group" style="padding: 0px; margin: 0px; border: none; padding-left: 8px">
                                <li style="background: #e3e3e3; color: #fff "><a href="" ><span style="color: #2A3F54" ng-bind="getTituloCrud()"></span></a></li>
                            </ol>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="panel-body"  style="padding: 0px; margin: 0px; padding-top: 10px;  ">
                <div class="media-body" cg-busy="loadingLocal">
                    <form>
                        <uib-tabset active="indice">
                            <uib-tab index="0" heading="Produtos" >
                                <div class="input-group" style="width: 100%; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 10px" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'" >
                                    <button type="button" class="btn btn-sm pull-left btn-success" ng-click="localizarProduto()"><span class="glyphicon glyphicon-plus botaoComIcone" aria-hidden="true"></span>Incluir Produto</button>
                                </div>
                                <table  class="table table-striped table-hover" style="max-height: 100px; overflow-y: auto; ">
                                    <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th style="width: 80px">Valor</th>
                                            <th style="width: 80px">Quantidade</th>
                                            <th style="width: 50px" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="produto in pedidoAtual.listaProduto">
                                            <td ng-bind="produto.descricao"></td>
                                            <td ng-bind="produto.valor"></td>
                                            <td>
                                                <input type="text" ui-number-mask="0" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'" class="form-control" style="font-size: 12px; height: 22px" ng-model="produto.quantidade">
                                            </td>
                                            <td ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'"><button type="button" class="btn btn-xs pull-left btn-danger" ng-click="removeProduto(produto)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </uib-tab>
                            <uib-tab index="1" heading="Dados Pedido" >
                                <div class="row" style="padding-left: 15px;padding-right:  15px">
                                    <div class="form-group col-sm-4 col-md-2 col-lg-2">
                                        <label>Descrição</label>
                                        <input type="text"  class="form-control" id="produtoDescricao" ng-model="pedidoAtual.descricao" maxlength="32" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'"> 
                                    </div>
                                    <div class="form-group col-sm-4 col-md-2 col-lg-2">
                                        <label>Tipo Pedido</label>
                                        <input type="text"  class="form-control" ng-model="pedidoAtual.tipo_pedido.descricao" maxlength="32" ng-readonly ng-show="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'"> 
                                        <select class="form-control" ng-model="pedidoAtual.tipo_pedido" 
                                                ng-options="option.descricao for option in listaTipoPedido track by option.id" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'"> </select>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-2 col-lg-2">
                                        <label>Desconto R$</label>
                                        <input type="text"  class="form-control" ui-number-mask="decimals"  id="produtoValor" ng-model="pedidoAtual.desconto" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'">
                                    </div>
                                    <div class="form-group col-sm-4 col-md-2 col-lg-2" style="padding: 0px; margin: 0px; padding-left: 15px">
                                        <label>Data Vencimento</label>
                                        <input type="text"  class="form-control" ui-mask="99/99/9999" clear-text="Limpar" close-text="Fechar"  current-text="Hoje" ng-model="pedidoAtual.data_vencimento"  uib-datepicker-popup="ddMMyyyy"  alt-input-formats="['d!/M!/yyyy']" ng-readonly ng-show="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'" />
                                        <p class="input-group" style="width: 140px;"  ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'">
                                            <input type="text" id="pedidoDataVencimento" class="form-control" ui-mask="99/99/9999" clear-text="Limpar" close-text="Fechar"  current-text="Hoje" ng-model="pedidoAtual.data_vencimento"  uib-datepicker-popup="ddMMyyyy" is-open="dataVencimento.opened"  alt-input-formats="['d!/M!/yyyy']"  />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="opendataVencimento()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-2 col-lg-2">
                                        <label>Forma Pagamento</label>
                                        <input type="text"  class="form-control" ng-model="pedidoAtual.forma_pagamento.descricao" maxlength="32" ng-readonly ng-show="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'"> 
                                        <select class="form-control" ng-model="pedidoAtual.forma_pagamento" 
                                                ng-options="option.descricao for option in listaFormaPagamento track by option.id" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'"> </select>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-2 col-lg-2" >
                                        <label>Parcelas</label>
                                        <input type="text"  class="form-control" ui-number-mask="0" id="quantidadeParcelas" ng-model="pedidoAtual.parcelas" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" ng-readonly="true" id="pedidoAtualCliente" value="{{pedidoAtual.cliente.nome}}" ng-readonly ng-show="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'"/>
                                    <div class="input-group"  ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" style="width: 100px" type="button" ng-click="localizarCliente(pedidoAtual);"><span class="glyphicon glyphicon-search botaoComIcone" aria-hidden="true"></span>Localizar</button>
                                        </span>
                                        <input type="text" class="form-control" ng-readonly="true" id="pedidoAtualCliente" value="{{pedidoAtual.cliente.nome}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="pedidoAtual.cliente = null"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                        </span>
                                    </div>
                                </div>
                                <div style="text-align: center; padding-top: 10px">
                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                        <label>Valor Produto</label>
                                        <input type="text" class="valor-produto-lista form-control" style="color: #738BFF; font-size: 16px; text-align: right" value="{{getValorPedido() | currency}}" readonly>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                        <label>Valor Desconto</label>
                                        <input type="text" class="valor-produto-lista form-control" style="color: #FF5E5E; font-size: 16px; text-align: right" value="{{pedidoAtual.desconto| currency}}" readonly>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                        <label>Valor Total</label>
                                        <input type="text" class="valor-produto-lista form-control" style="font-size: 16px; text-align: right" value="{{getValorPedido() - pedidoAtual.desconto | currency}}" readonly>
                                    </div>
                                </div>
                                <div style="padding-left: 16px; padding-right: 16px" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar' || tipoFuncao == 'deletar'">
                                    <div class="input-group" style="width: 100%;" >
                                        <div class="alert alert-warning" role="alert" ng-show="tipoFuncao == 'deletar'" style="text-align: center"><span class="glyphicon glyphicon-warning-sign botaoComIcone" aria-hidden="true"></span> Deseja Deletar o Pedido ?</div>
                                        <button type="button" class="btn btn-default pull-left btn-warning " ng-click="setModoView()"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                        <button type="submit" class="btn btn-default pull-right btn-success " ng-click="enviarPedido()" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'"><span class="glyphicon glyphicon-floppy-disk botaoComIcone" aria-hidden="true"></span>Salvar</button>
                                        <button type="submit" class="btn btn-default pull-right btn-danger " ng-click="enviarPedido()" ng-show="tipoFuncao == 'deletar'"><span class="glyphicon glyphicon-floppy-disk botaoComIcone" aria-hidden="true"></span>Deletar</button>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <div id="msgManterPedido" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;"></div>
                    </form>   
                </div>
            </div>
        </div>
    </body>
</html>
