<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="panel panel-default" ng-show="modoManter" cg-busy="{promise:send, templateUrl:'send.html'}">
            <div class="panel-heading" style="padding: 0px; margin: 0px; ">
                <nav class="navbar navbar-default" style="padding: 0px; margin: 0px; border: none">
                    <div class="container-fluid " style="padding: 0px; margin: 0px; border: none">
                        <div class="navbar-header"  style="padding: 0px; margin: 0px;">
                            <div class="input-group pull-left" style="padding-top: 8px; padding-right: 8px; padding-left: 8px">
                                <span class="input-group-btn" style="height: 34px">
                                    <button class=" btn btn-primary cor-font-global" ng-click="setModoView()"> <span class="fa fa-chevron-left botaoComIcone"></span><span>Voltar</span></button>
                                </span>
                                <input type="text" class="form-control" value="{{getTituloCrud()}}" readonly style="width: 170px">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="panel-body"  style="padding: 0px; margin: 0px; padding-top: 10px;  ">
                <div class="media-body" cg-busy="loadingLocal">
                    <form>
                        <div class="modal-body">
                            <div class="form-group" style="width: 100%;">
                                <label>Fornecedor</label>
                                <input type="text" id="fornecedor" class="form-control" maxlength="50" uib-popover="esse"  popover-trigger="none" aria-describedby="fornecedorDescricao" ng-model="fornecedorAtual.descricao" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'">
                            </div>

                            <div class="form-group" style="padding-top: 0px; width: 100%;">
                                <label>Email</label>
                                <input type="text" id="fornecedorEmail"  class="form-control"  maxlength="50" aria-describedby="fornecedorEmail" ng-model="fornecedorAtual.email" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'">
                            </div>

                            <div class="form-group" style="padding-top: 0px; width: 100%;">
                                <label>Telefone</label>
                                <input ui-br-phone-number id="fornecedorFone" type="text"   class="form-control"  aria-describedby="fornecedorTelefone" ng-model="fornecedorAtual.telefone" ng-readonly="tipoFuncao == 'vizualizar' || tipoFuncao == 'deletar'">
                            </div>
                            <div id="msgManterFornecedor" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;"></div>
                        </div>
                        <div style="padding-left: 16px; padding-right: 16px; padding-bottom: 16px" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar' || tipoFuncao == 'deletar'">
                            <div class="input-group" style="width: 100%;" >
                                <div class="alert alert-warning" role="alert" ng-show="tipoFuncao == 'deletar'" style="text-align: center"><span class="glyphicon glyphicon-warning-sign botaoComIcone" aria-hidden="true"></span> Deseja Deletar o Fornecedor ?</div>
                                <button type="button" class="btn btn-default pull-left btn-warning " ng-click="setModoView()"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                <button type="submit" class="btn btn-default pull-right btn-success " ng-click="enviarFornecedor()" ng-show="tipoFuncao == 'inserir' || tipoFuncao == 'alterar'"><span class="glyphicon glyphicon-floppy-disk botaoComIcone" aria-hidden="true"></span>Salvar</button>
                                <button type="submit" class="btn btn-default pull-right btn-danger " ng-click="enviarFornecedor()" ng-show="tipoFuncao == 'deletar'"><span class="glyphicon glyphicon-floppy-disk botaoComIcone" aria-hidden="true"></span>Deletar</button>
                            </div>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </body>
</html>
