<div class="container-fluid painel-pai-geral" ng-controller="clienteControler">
    <div id="cliente" class="panel panel-default painel-pai-geral-corpo">
        <div class="panel-heading header-panel">Clientes</div>
        <div class="panel-body painel-pai-geral-body">
            <div class="row">
                <div id="filtrarCliente" class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ><span class="glyphicon glyphicon-filter" aria-hidden="true" style="padding-right: 5px"></span>Filtro Avançado</a></li>
                                    <li><a href="" ><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="padding-right: 5px"></span>Limpar Filtro</a></li>
                                </ul>
                            </div>
                        </span>
                        <input type="text" class="form-control" placeholder="Nome" ng-model="valorBuscaCliente" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
                <div id="cadastrarProduto" class="col-sm-4">
                    <button  type="button" class="btn btn-success pull-right" ng-click="novoCliente()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Cliente
                    </button>
                </div>
            </div>
            <div id="msgClienteGeral" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;"></div>
            <div id="tabela-cliente" class="row">
                <div class="alert alert-warning" role="alert"  ng-show="listaCliente == null || listaCliente.length < 1"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Sem dados</div>
                <table ng-show="listaCliente != null && listaCliente.length > 0" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr class="tabela-header">
                            <th style="width: 100px;">Código</th>
                            <th >Descrição</th>
                            <th style="width: 220px;" class="visible-md visible-lg">Email</th>
                            <th style="width: 120px;" class="visible-md visible-lg" >Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cliente in listaCliente" ng-click="preparaCliente(cliente)">
                            <td ng-bind="cliente.id"></td>
                            <td ng-bind="cliente.descricao"></td>
                            <td class="visible-md visible-lg" ng-bind="cliente.email"></td>
                            <td class="visible-md visible-lg" ng-bind="cliente.telefone" > </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div style="width: 100%; margin: 0; padding: 0; padding-left: 10px; padding-top: 10px" ng-show="totalItems > 15">
                <div style="width: auto; margin: auto; padding: 0; padding-right: 5px;" class="pull-right">
                    <uib-pagination style="margin: 0; padding: 0; " next-text="Próximo" previous-text="Anterior" total-items="totalItems" ng-model="currentPage" ng-change="getListaClienteAll(currentPage)" max-size="maxSize" class="pagination-sm" items-per-page="itensPorPagina" num-pages="numPages"></uib-pagination>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="clienteDialogCadastro" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="min-width: 400px;" >
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cadastro Cliente</h4>
                    </div>

                    <div class="media-body">
                        <form name="outerForm" class="tab-form-demo">
                            <uib-tabset active="indice" >
                                <uib-tab index="0" heading="Dados Cliente" disable="true">
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" required ng-model="clienteAtual.nome" maxlength="32"/>
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Sobrenome</label>
                                        <input type="text" class="form-control" required ng-model="clienteAtual.sobreNome" maxlength="32"/>
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Data Nascimento</label>
                                        <p class="input-group" style="width: 140px;">
                                            <input type="text" class="form-control" clear-text="Limpar" close-text="Fechar"  current-text="Hoje" ng-readonly="true" ng-model="clienteAtual.dataNascimento"  uib-datepicker-popup="dd/MM/yyyy" is-open="dataNascimento.opened" ng-required="true" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="opendataNascimento()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Sexo</label>
                                        <select class="form-control" ng-model="clienteAtual.sexo">
                                            <option ng-repeat="sexo in listaSexo" ng-bind="sexo" ng-value="sexo"></option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>RG</label>
                                        <input type="number" class="form-control"  ng-model="clienteAtual.rg" maxlength="20"/>
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>CPF</label>
                                        <input type="text" ui-cpf-mask class="form-control"  ng-model="clienteAtual.cpf" maxlength="15" />
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Email</label>
                                        <input type="email"  class="form-control" required ng-model="clienteAtual.email" maxlength="50"/>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="Endereço" disable="true">

                                </uib-tab>
                                <uib-tab index="2" heading="Telefone" disable="true">
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Telefone</label>
                                        <input type="text" ui-br-phone-number class="form-control" ng-model="telefone.numero" maxlength="32"/>
                                    </div>
                                    <div class="form-group" style="padding-left: 10px;padding-right: 10px">
                                        <label>Tipo Telefone</label>
                                        <select class="form-control" ng-model="tipoTelefone">
                                            <option ng-repeat="tipoFoneAux in listaTipoTelefone" ng-bind="tipoFoneAux.descricao" ng-value="tipoFoneAux"></option>
                                        </select>
                                    </div>
                                    <div class="input-group" style="width: 100%; padding-left: 10px; padding-right: 10px; padding-bottom: 10px" >
                                        <button type="button" class="btn btn-sm pull-left btn-success" ng-click="addTelefone()"><span class="glyphicon glyphicon-plus botaoComIcone" aria-hidden="true"></span>Incluir</button>
                                    </div>
                                    <table ng-show="listaTelefone != null && listaTelefone.length > 0" class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr class="tabela-header">
                                                <th>Número</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="telefoneAux in listaTelefone">
                                                <td ng-bind="telefoneAux.numero"></td>
                                                <td ng-bind="telefoneAux.tipoTelefone"></td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </uib-tab>
                            </uib-tabset>
                        </form>
                        <div class="input-group" style="width: 100%; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 5px" >
                            <button type="submit" ng-show="indice < 2" class="btn btn-sm pull-right btn-primary " ng-click="avancaCliente(indice)"><span class="glyphicon glyphicon-chevron-right botaoComIcone" aria-hidden="true"></span>Próximo</button>
                            <button type="button" ng-show="indice > 0" class="btn btn-sm pull-left btn-primary " ng-click="indice = indice - 1"><span class="glyphicon glyphicon-chevron-left botaoComIcone" aria-hidden="true"></span>Anterior</button>
                        </div>
                        <div id="msgClienteCadatro" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;"></div>
                    </div>

                    <div class="modal-footer">
                        <div class="input-group" style="width: 100%">
                            <button type="button" class="btn btn-default pull-left btn-danger " ng-click="fecharDialog('#clienteDialogCadastro')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                            <button type="submit" class="btn btn-default pull-right btn-success " ><span class="glyphicon glyphicon-ok botaoComIcone" aria-hidden="true"></span>Confirmar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>