<!doctype html>
<html ng-app="www.geve.com.br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Geve</title>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css" >
    </head> 
    <body cg-busy="loading" ng-controller="masterPageControler" style="visibility:hidden" >


        <div id="pagina" class="row row-offcanvas row-offcanvas-left"  cg-busy="loading">
            <nav id="menu-lateral" class="navbar-default navbar-static-side" role="navigation">
                <div class="row" id="headerLateral" >
                    <img src="logos.png"  width="120"/>    
                </div>
                <ul class="nav nav-stacked">
                    <li id="btnHome"><a href="#/home" ng-click="close()"> <span class="fa fa-home botaoComIconeMenuLateral" aria-hidden="true"></span> Home </a></li>
                    <li id="btnFornecedor" ><a href="#/fornecedor" ng-click="close()"><span class="fa fa-briefcase botaoComIconeMenuLateral" aria-hidden="true"></span> Fornecedor</a></li>
                    <li id="btnCliente" ><a href="#/cliente" ng-click="close()"><span class="fa fa-users botaoComIconeMenuLateral" aria-hidden="true"></span> Cliente</a></li>
                    <li id="btnProduto" ><a href="#/produto" ng-click="close()"><span class="fa fa-gift botaoComIconeMenuLateral" aria-hidden="true"></span> Produto</a></li>
                    <li id="btnPedido" ><a href="#/pedido" ng-click="close()"><span class="fa fa-shopping-cart botaoComIconeMenuLateral" aria-hidden="true"></span> Pedido</a></li>
                    <li id="btnDespesas" ><a href="#/despesas" ng-click="close()"><span class="fa fa-usd botaoComIconeMenuLateral" aria-hidden="true"></span> Despesas</a></li>
                    <!--<li id="btnUsuario" ><a href="#/usuario" ng-click="close()"><span class="fa fa-cog botaoComIconeMenuLateral" aria-hidden="true"></span> Usuário</a></li>-->
                    <!--<li id="btnInfor" ><a href="#/info" ng-click="close()"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info</a></li>-->
                </ul>
            </nav>
            <div id="app-meio">
                <div id="app-meio-row" >
                    <div id="nav-meio" class="navbar navbar-default">
                        <button id="btn-menu-lateral" type="button" class="navbar-toggle pull-left btn-sm">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div id="dados-usuario" class="header row" >
                            <div>
                                <ul class="nav nav-pills">
                                    <li class="pull-left" style="padding-left: 30px; padding-top: 10px; ">
                                        <span ng-class="paginaAtualClass" aria-hidden="true"></span><span ng-bind="paginaAtual"></span>
                                    </li>
                                    <li class="dropdown pull-right">
                                        <ul class="nav nav-pills">
                                            <li>
                                                <p class="info-usuario" ><span class="fa fa-user botaoComIcone" aria-hidden="true"></span><span ng-bind="pessoa.nome"></span></p>      
                                            </li>
                                            <li>
                                                <a href="" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="" ng-click="iniciarTrocaSenha()"><span class="fa fa-key" aria-hidden="true" ></span> Trocar senha</a></li>
                                                    <li><a href="" ng-click="sair()" ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="msgGlobalGeral" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px"></div>
                    <div id="conteudo" ng-view class="col-xs-12 col-sm-9 col-md-9 col-lg-10 content">

                    </div>
                </div>
            </div>
            <div class="modal fade" id="alterarSenhaDialog" role="dialog" aria-hidden="true" style="min-width: 300px;" cg-busy="{promise:send, templateUrl:'send.html'}">
                <div class="modal-dialog" >
                    <div class="modal-content dialog-produto" >
                        <form>
                            <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Alterar Senha</h4>
                            </div>

                            <div class="media-body" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 50px">
                                <div class="row" style="padding: 0px; margin: 0px; ">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12" >
                                        <label>Senha Atual</label>
                                        <input type="password" id="senha_atual" class="form-control" ng-model="pessoaEnvio.senha_atual"
                                               data-toggle="popover" data-content="Campo Obrigatório" data-placement="bottom" data-trigger="manual" ng-keyup="esconderPopover('#senha_atual')">
                                    </div>
                                </div>
                                <div class="row" style="padding: 0px; margin: 0px; ">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12" >
                                        <label>Nova Senha</label>
                                        <input type="password" id="nova_senha" class="form-control" ng-model="pessoaEnvio.nova_senha"
                                               data-toggle="popover" data-content="Campo Obrigatório" data-placement="bottom" data-trigger="manual" ng-keyup="esconderPopover('#nova_senha')">
                                    </div>
                                </div>
                                <div class="row" style="padding: 0px; margin: 0px; ">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12" >
                                        <label>Confirmar Nova Senha</label>
                                        <input type="password" id="confirma_nova_senha" class="form-control" ng-model="pessoaEnvio.confirma_nova_senha"
                                               data-toggle="popover" data-content="Campo Obrigatório" data-placement="bottom" data-trigger="manual" ng-keyup="esconderPopover('#confirma_nova_senha')">
                                    </div>
                                </div>
                                <div id="msgUsuarioTrocaSenha" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px"></div>
                            </div>

                            <div class="modal-footer">
                                <div class="input-group" style="width: 100%">
                                    <div class="btn-group pull-left" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default btn-danger " ng-click="fechar('#alterarSenhaDialog')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                    </div>
                                    <button type="submit" class="btn btn-default pull-right btn-primary" ng-click="confirmarEnvio()"><span class="fa fa-paper-plane-o botaoComIcone" aria-hidden="true"></span>Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script language="JavaScript" type="text/javascript" src="js/main.js"></script>
        <script language="JavaScript" type="text/javascript" src="js/angular/Chart.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="js/angular/angular-chart.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="js/main2.js"></script>
        <script language="JavaScript" type="text/javascript" src="js/main3.js"></script>

        <script>



        </script>


    </body>
</html>
