<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="panel panel-default" ng-controller="fornecedorControler">
            <div class="panel-heading" style="padding: 0px; margin: 0px;">
                <nav class="navbar navbar-default" style="padding: 0px; margin: 0px; border: none; ">
                    <div class="container-fluid ">
                        <div class="navbar-header col-sm-8 col-md-6 col-lg-8" style="padding-left: 0px">
                            <ul class="nav navbar-nav menu-ul menu-top-pagina">
                                <li><a href=""  class="btn-success cor-font-global " data-toggle="modal" data-target="#cadastroFornecedorDialog" ng-click="novoFornecedor()"><span class="fa fa-plus botaoComIcone"></span> Novo Fornecedor</a></li>
                            </ul>
                        </div>
                        <div class="input-group pull-right col-sm-4 col-md-6 col-lg-4" style="padding-top: 8px;">
                            <span class="input-group-btn">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="" data-toggle="modal" data-target="#localizarFornecedorDialog"><span class="glyphicon glyphicon-filter" aria-hidden="true" style="padding-right: 5px"></span>Filtro Avançado</a></li>
                                        <li><a href="" ng-click="limpaFiltroAvancado()"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="padding-right: 5px"></span>Limpar Filtro</a></li>
                                    </ul>
                                </div>
                            </span>
                            <input type="text" class="form-control"  ng-model="valorBusca" placeholder="Descrição...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="filtroPorDescricao()"><span class="fa fa-search "></span></button>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="panel-body">
                <div id="msgFornecedorGeral" class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;"></div>
                <div id="tabela-fornecedor" class="row">
                    <div class="alert alert-warning" role="alert"  ng-show="listaFornecedores == null || listaFornecedores.length < 1" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Sem dados</div>
                    <table ng-show="listaFornecedores != null && listaFornecedores.length > 0" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th style="width: 220px;" class=" visible-sm visible-md visible-lg">Email</th>
                                <th style="width: 140px;" class="" >Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fornecedor in listaFornecedores" data-toggle="modal" data-target="#cadastroFornecedorDialogFuncoes" ng-click="preparaFornecedor(fornecedor)">
                                <td ng-bind="fornecedor.descricao"></td>
                                <td class="visible-sm visible-md visible-lg" ng-bind="fornecedor.email"></td>
                                <td class="" ng-bind="fornecedor.telefone | tel"> </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div style="width: 100%; margin: 0; padding: 0; padding-left: 10px; padding-top: 10px" ng-show="totalItems > 15">
                    <div style="width: auto; margin: auto; padding: 0; padding-right: 5px;" class="pull-right">
                        <uib-pagination style="margin: 0; padding: 0; " next-text="Próximo" previous-text="Anterior" total-items="totalItems" ng-model="currentPage" ng-change="getListaFornecedorAll(currentPage)" max-size="maxSize" class="pagination-sm" items-per-page="itensPorPagina" num-pages="numPages"></uib-pagination>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="cadastroFornecedorDialog" role="dialog" cg-busy="{promise:send, templateUrl:'send.html'}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form >
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Cadastro Fornecedor</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="width: 100%;">
                                    <label>Fornecedor</label>
                                    <input type="text" id="fornecedor" class="form-control" maxlength="50" uib-popover="esse"  popover-trigger="none" aria-describedby="fornecedorDescricao" ng-model="fornecedorAtual.descricao">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Email</label>
                                    <input type="email" id="fornecedorEmail"  class="form-control"  maxlength="50" aria-describedby="fornecedorEmail" ng-model="fornecedorAtual.email">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Telefone</label>
                                    <input ui-br-phone-number id="fornecedorFone" type="tel"   class="form-control"  aria-describedby="fornecedorTelefone" ng-model="fornecedorAtual.telefone">
                                </div>
                                <div id="msgFornecedorCad" class="row" style="padding-left: 15px; padding-right: 15px; margin-top: 10px;"></div>
                            </div>

                            <div class="modal-footer">
                                <div class="input-group" style="width: 100%">
                                    <button type="button" class="btn btn-default pull-left btn-danger " ng-click="fecharDialog('#cadastroFornecedorDialog')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                    <button type="submit" class="btn btn-default pull-right btn-success " ng-click="insertFornecedor()" busy="Salvando..." ><span class="glyphicon glyphicon-floppy-disk botaoComIcone" aria-hidden="true"></span>Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="cadastroFornecedorDialogAlterar" role="dialog" cg-busy="{promise:send, templateUrl:'send.html'}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form novalidate>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Alterar Fornecedor</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="width: 100%;">
                                    <label>Fornecedor</label>
                                    <input type="text" id="fornecedorAlterar"  class="form-control" maxlength="50" aria-describedby="fornecedorDescricaoAlterar" ng-model="fornecedorAtual.descricao">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Email</label>
                                    <input type="email" id="fornecedorEmailAlterar"  class="form-control"  maxlength="50" aria-describedby="fornecedorEmailAlterar" ng-model="fornecedorAtual.email">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Telefone</label>
                                    <input ui-br-phone-number id="fornecedorFoneAlterar"  type="text"  class="form-control"   aria-describedby="fornecedorTelefoneAlterar" ng-model="fornecedorAtual.telefone">
                                </div>
                                <div id="msgFornecedorAlt" class="row" style="padding-left: 15px; padding-right: 15px; margin-top: 10px;"></div>
                            </div>
                            <div class="modal-footer">
                                <div class="input-group" style="width: 100%">
                                    <button type="button" class="btn btn-default pull-left btn-danger " ng-click="fecharDialog('#cadastroFornecedorDialogAlterar')" ><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                    <button type="submit" class="btn btn-default pull-right btn-success " ng-click="updateFornecedor()" busy="Salvando..."><span class="glyphicon glyphicon-floppy-disk botaoComIcone" aria-hidden="true"></span>Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="cadastroFornecedorDialogDeletar" role="dialog" cg-busy="{promise:send, templateUrl:'send.html'}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form novalidate>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Deletar Fornecedor</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign botaoComIcone" aria-hidden="true"></span> Deseja Deletar o Fornecedor ?</div>

                                <div class="form-group" style="width: 100%;">
                                    <label>Fornecedor</label>
                                    <input type="text" readonly="readonly" class="form-control"  aria-describedby="fornecedorDescricaoVisualizar" ng-model="fornecedorAtual.descricao">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Email</label>
                                    <input type="text" readonly="readonly" class="form-control"  aria-describedby="fornecedorEmailDeletar" ng-model="fornecedorAtual.email">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Telefone</label>
                                    <input type="text" readonly="readonly" class="form-control"   ui-br-phone-number aria-describedby="fornecedorTelefoneDeletar" ng-model="fornecedorAtual.telefone">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="input-group" style="width: 100%">
                                    <button type="button" class="btn btn-default pull-left btn-danger " ng-click="fecharDialog('#cadastroFornecedorDialogDeletar')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                    <button type="submit" class="btn btn-default pull-right btn-success " ng-click="deleteFornecedor()" busy="Deletando..."><span class="glyphicon glyphicon-ok botaoComIcone" aria-hidden="true"></span>Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="cadastroFornecedorDialogVisualizar" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Fornecedor</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="width: 100%;">
                                    <label>Fornecedor</label>
                                    <input type="text" readonly="readonly" class="form-control"  aria-describedby="fornecedorDescricaoVisualizar" ng-model="fornecedorAtual.descricao">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Email</label>
                                    <input type="text" readonly="readonly" class="form-control"  aria-describedby="fornecedorEmailVisualizar" ng-model="fornecedorAtual.email">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Telefone</label>
                                    <input type="text" readonly="readonly" class="form-control" ui-br-phone-number  aria-describedby="fornecedorTelefoneVisualizar" ng-model="fornecedorAtual.telefone">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="input-group" style="width: 100%;">
                                    <button type="button" class="btn btn-default center-block btn-primary " ng-click="fecharDialog('#cadastroFornecedorDialogVisualizar')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Fechar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="localizarFornecedorDialog" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content dialog-produto">
                        <form>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Localizar Fornecedor</h4>
                            </div>

                            <div class="media-body" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
                                <div class="form-group" style="width: 100%;">
                                    <label>Fornecedor</label>
                                    <input type="text" class="form-control" maxlength="32" aria-describedby="fornecedorDescricaoLocalizar" ng-model="buscaAvancada.descricao">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Email</label>
                                    <input type="email" class="form-control"  aria-describedby="fornecedorEmailLocalizar" ng-model="buscaAvancada.email">
                                </div>

                                <div class="form-group" style="padding-top: 0px; width: 100%;">
                                    <label>Telefone</label>
                                    <input ui-br-phone-number type="text" class="form-control"   aria-describedby="fornecedorTelefoneLocalizar" ng-model="buscaAvancada.telefone">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="input-group" style="width: 100%">
                                    <div class="btn-group pull-left" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default btn-danger " ng-click="fecharDialog('#localizarFornecedorDialog')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Cancelar</button>
                                        <button type="button" class="btn btn-default btn-warning " ng-click="limpaFiltroAvancado()"><span class="glyphicon glyphicon-remove-circle botaoComIcone" aria-hidden="true"></span>Limpar Filtro</button>
                                    </div>
                                    <button type="submit" class="btn btn-default pull-right btn-primary" ng-click="filtrarAvancado()" ><span class="glyphicon glyphicon-search botaoComIcone" aria-hidden="true"></span>Localizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="cadastroFornecedorDialogFuncoes" role="dialog" style="width: 210px; margin: auto">
                <div class="modal-dialog" style="width: 200px">
                    <div class="modal-content" style="width: 200px">
                        <form>
                            <div class="modal-header" style="width: 200px">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Funções</h4>
                            </div>
                            <div class="modal-body" style="width: 200px">
                                <div class="list-group">
                                    <a class="list-group-item" data-toggle="modal" data-target="#cadastroFornecedorDialogVisualizar" ng-click="fecharDialog('#cadastroFornecedorDialogFuncoes')"><span class="glyphicon glyphicon-list-alt btn btn-default btn-primary" aria-hidden="true"></span>  Vizualizar</a>
                                    <a class="list-group-item" data-toggle="modal" data-target="#cadastroFornecedorDialogAlterar" ng-click="fecharDialog('#cadastroFornecedorDialogFuncoes')"><span class="glyphicon glyphicon-pencil btn btn-default btn-warning " aria-hidden="true"></span>  Editar</a>
                                    <a class="list-group-item" data-toggle="modal" data-target="#cadastroFornecedorDialogDeletar" ng-click="fecharDialog('#cadastroFornecedorDialogFuncoes')"><span class="glyphicon glyphicon-trash btn btn-default btn-danger" aria-hidden="true"></span>  Deletar</a>
                                </div>
                            </div>
                            <div class="modal-footer" style="width: 200px">
                                <div class="input-group" style="width: 100%;">
                                    <button type="button" class="btn btn-default center-block btn-primary " ng-click="fecharDialog('#cadastroFornecedorDialogFuncoes')"><span class="glyphicon glyphicon-remove botaoComIcone" aria-hidden="true"></span>Fechar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

